input{
    margin-bottom: 20px;
    background: none;
    border: 2px solid cornflowerblue;
    transition: in 0.25s;
    border-radius: 15px ;
    text-align: center;
}

input:hover{
    color: white;
    background-color:cornflowerblue ;

}

select{
    margin-bottom: 20px;
    background: none;
    border: 2px solid cornflowerblue;
    transition: in 0.25s;
    border-radius: 15px ;
text-align: center;
}

select:hover{
    color: white;
    background-color:cornflowerblue ;
}

option{
    position: relative;
    left: 50%;
}
#datepicker{
    position: relative;
width:30%
}

#submit{
    position: relative;
    left: 12%;

}

#selector{
    position: relative;
width: 30%;
}
